In [19]:
import pandas as pd
import numpy as np

In [27]:
def read_csv(file_path):
    try:
        data = pd.read_csv(file_path)
        return data
    except Exception as e:
        print("Error reading CSV file:", e)
        return None

def read_excel(file_path, sheet_name=0):
    try:
        data = pd.read_excel(file_path, sheet_name=sheet_name)
        return data
    except Exception as e:
        print("Error reading Excel file:", e)
        return None

def read_json(file_path):
    try:
        data = pd.read_json(file_path)
        return data
    except Exception as e:
        print("Error reading JSON file:", e)
        return None
x=input('')

csv_data = read_csv(x)
print(csv_data)
excel_data = read_excel(x)
print(excel_data)
json_data = read_json(x)
print(json_data)

/content/Country-data.csv
                 country  child_mort  exports  health  imports  income  \
0            Afghanistan        90.2     10.0    7.58     44.9    1610
1                Albania        16.6     28.0    6.55     48.6    9930
2                Algeria        27.3     38.4    4.17     31.4   12900
3                 Angola       119.0     62.3    2.85     42.9    5900
4    Antigua and Barbuda        10.3     45.5    6.03     58.9   19100
..                   ...         ...      ...     ...      ...     ...
162              Vanuatu        29.2     46.6    5.25     52.7    2950
163            Venezuela        17.1     28.5    4.91     17.6   16500
164              Vietnam        23.3     72.0    6.84     80.2    4490
165                Yemen        56.3     30.0    5.18     34.4    4480
166               Zambia        83.1     37.0    5.89     30.9    3280

     inflation  life_expec  total_fer   gdpp
0         9.44        56.2       5.82    553
1         4.49        76.3       1.65   4090
2        16.10        76.5       2.89   4460
3        22.40        60.1       6.16   3530
4         1.44        76.8       2.13  12200
..         ...         ...        ...    ...
162       2.62        63.0       3.50   2970
163      45.90        75.4       2.47  13500
164      12.10        73.1       1.95   1310
165      23.60        67.5       4.67   1310
166      14.00        52.0       5.40   1460

[167 rows x 10 columns]
Error reading Excel file: Excel file format cannot be determined, you must specify an engine manually.
None
Error reading JSON file: Expected object or value
None

In [29]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

for column in csv_data.columns:
    if csv_data[column].dtype == 'object':
        csv_data[column] = label_encoder.fit_transform(csv_data[column])
csv_data

,country,child_mort,exports,health,imports,income,inflation,life_expec,total_fer,gdpp
0,0,90.2,10.0,7.58,44.9,1610,9.44,56.2,5.82,553
1,1,16.6,28.0,6.55,48.6,9930,4.49,76.3,1.65,4090
2,2,27.3,38.4,4.17,31.4,12900,16.10,76.5,2.89,4460
3,3,119.0,62.3,2.85,42.9,5900,22.40,60.1,6.16,3530
4,4,10.3,45.5,6.03,58.9,19100,1.44,76.8,2.13,12200
...,...,...,...,...,...,...,...,...,...,...
162,162,29.2,46.6,5.25,52.7,2950,2.62,63.0,3.50,2970
163,163,17.1,28.5,4.91,17.6,16500,45.90,75.4,2.47,13500
164,164,23.3,72.0,6.84,80.2,4490,12.10,73.1,1.95,1310
165,165,56.3,30.0,5.18,34.4,4480,23.60,67.5,4.67,1310
166,166,83.1,37.0,5.89,30.9,3280,14.00,52.0,5.40,1460

In [30]:
def data_summary(data):
    summary = {}

    summary['summary_statistics'] = data.describe()

    summary['average_values'] = data.mean()

    summary['most_frequent_values'] = data.mode().iloc[0]

    return summary

summary = data_summary(csv_data)
print(summary)

{'summary_statistics':          country  child_mort     exports      health     imports  \
count  167.00000  167.000000  167.000000  167.000000  167.000000
mean    83.00000   38.270060   41.108976    6.815689   46.890215
std     48.35287   40.328931   27.412010    2.746837   24.209589
min      0.00000    2.600000    0.109000    1.810000    0.065900
25%     41.50000    8.250000   23.800000    4.920000   30.200000
50%     83.00000   19.300000   35.000000    6.320000   43.300000
75%    124.50000   62.100000   51.350000    8.600000   58.750000
max    166.00000  208.000000  200.000000   17.900000  174.000000

              income   inflation  life_expec   total_fer           gdpp
count     167.000000  167.000000  167.000000  167.000000     167.000000
mean    17144.688623    7.781832   70.555689    2.947964   12964.155689
std     19278.067698   10.570704    8.893172    1.513848   18328.704809
min       609.000000   -4.210000   32.100000    1.150000     231.000000
25%      3355.000000    1.810000   65.300000    1.795000    1330.000000
50%      9960.000000    5.390000   73.100000    2.410000    4660.000000
75%     22800.000000   10.750000   76.800000    3.880000   14050.000000
max    125000.000000  104.000000   82.800000    7.490000  105000.000000  , 'average_values': country          83.000000
child_mort       38.270060
exports          41.108976
health            6.815689
imports          46.890215
income        17144.688623
inflation         7.781832
life_expec       70.555689
total_fer         2.947964
gdpp          12964.155689
dtype: float64, 'most_frequent_values': country          0.00
child_mort       4.50
exports         23.80
health           5.07
imports         19.40
income        1390.00
inflation       16.60
life_expec      70.40
total_fer        1.57
gdpp          1310.00
Name: 0, dtype: float64}

In [31]:
csv_data.isna().sum()

country       0
child_mort    0
exports       0
health        0
imports       0
income        0
inflation     0
life_expec    0
total_fer     0
gdpp          0
dtype: int64

In [32]:
def missing_value(data):
  data.fillna(data.median(),inplace=True)
missing_value(csv_data)
print(csv_data)

     country  child_mort  exports  health  imports  income  inflation  \
0          0        90.2     10.0    7.58     44.9    1610       9.44
1          1        16.6     28.0    6.55     48.6    9930       4.49
2          2        27.3     38.4    4.17     31.4   12900      16.10
3          3       119.0     62.3    2.85     42.9    5900      22.40
4          4        10.3     45.5    6.03     58.9   19100       1.44
..       ...         ...      ...     ...      ...     ...        ...
162      162        29.2     46.6    5.25     52.7    2950       2.62
163      163        17.1     28.5    4.91     17.6   16500      45.90
164      164        23.3     72.0    6.84     80.2    4490      12.10
165      165        56.3     30.0    5.18     34.4    4480      23.60
166      166        83.1     37.0    5.89     30.9    3280      14.00

     life_expec  total_fer   gdpp
0          56.2       5.82    553
1          76.3       1.65   4090
2          76.5       2.89   4460
3          60.1       6.16   3530
4          76.8       2.13  12200
..          ...        ...    ...
162        63.0       3.50   2970
163        75.4       2.47  13500
164        73.1       1.95   1310
165        67.5       4.67   1310
166        52.0       5.40   1460

[167 rows x 10 columns]